<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= company.subdomain %>
  </p>

  <p>
    <strong>User:</strong>
    <%= company.user_id %>
  </p>

</div>
